/* CSS for Navigation Bar*/
#Header {
  width: 100%;
  height: 10%;
  justify-content: center;
}
#siteLogo {
  width: 100%;
}
.icon-bar {
  width: 100%;
  background-color: white;
  overflow: auto;
}
.icon-bar a {
  float: left;
  text-align: center;
  width: 12.5%;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: #f89727;
  object-fit: contain;
  transition: opacity 0.2s;
}
body {
  display: flex;
  background-color: white;
  font-family: "Avenir", sans-serif;
  color: #3c3744;
  flex-direction: column;
  align-items: center;
}
#Welcome {
  display: flex;
}
.column {
  flex: 50%;
  padding: 2%;
  flex-direction: column;
}
h1 {
  font-family: "Avenir", sans-serif;
  font-weight: "Bold";
  font-size: 18px;
}
h2 {
  font-family: "Baskerville", sans-serif;
  font-weight: "Bolder";
  color: #0092cf;
  font-size: 64px;
}
h3 {
  font-family: "Avenir", sans-serif;
  font-weight: "Light";
  font-size: 16px;
}
h4 {
  font-family: "Avenir", sans-serif;
  font-weight: "Bolder";
  display: inline;
  font-size: 16px;
}
h5 {
  font-family: "Avenir", sans-serif;
  font-weight: "Bold";
  color: white;
  font-size: 36px;
  padding: 0%;
  justify-content: right;
  display: inline;
}
hr {
  border-top: 1px solid #0092cf;
}
.button {
  display: inline-block;
  border-radius: 10px;
  background-color: #f89727;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}
.scroll-container {
  display: flex;
  background-color: #0092cf;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
  color: #0092cf;
  width: 110%;
  transform: scale(0.9);
}
.scroll-container a {
  display: inline-block;
  text-align: left;
  color: #f89727;
  margin-left: 5px;
  white-space: nowrap;
}
.scroll-container img {
  display: flex;
  border-radius: 60px;
  padding: 20px;
}
.scroll-container h1 {
  font-family: "Avenir", sans-serif;
  font-weight: "Bold";
  text-align: right;
  padding-right: 20px;
  font-size: 36px;
}
.end-container {
  display: flex;
  background-color: #3c3744;
  padding: 10px;
  width: 100%;
}
.end-container h1 {
  color: #ffffff;
  font-size: 24px;
}
/* @media screen and (max-width: 600px) {
  body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
  }
  #logoBar {
    width: 30vw;
    height: 100vh;
  }
  #staffGallery {
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: space-evenly;
  }
} */
